<% if(comment) { %>
  <!-- <%=JSON.stringify(meeting)%> -->
  <style>
    
  </style>
  <div class="containner col-6">
    <p >
      <%= comment.body %>
    </p>
    <small class="card-subtitle mb-2 text-muted">
 <!-- #2 -->
      sent by <%= comment.User.username %> on <%= comment.createdAt %>
    </small>

 <!-- #3 -->
    <% if(currentUser && currentUser.id === comment.userId || currentUser.isAdmin()) { %> -->
      <form style="display:initial"
            action="/meetings/<%= meeting.id %>/comments/<%= comment.id %>/destroy"
            method="post">
        <button type="submit" class="btn btn btn-sm btn-outline-danger">Delete</button>
      </form>
    <% } %>
    <hr/>
  </div>
<% } %>


