<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <main class="container">
    <% include ../static/partials/navbar.ejs %>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-2">
          <div class="row">
            <%= profile.username %>
          </div>
          <div class="row">
            <%= profile.email %>
          </div>
          <div class="row">
            <img src="<%= profile.image %>" />
          </div>
        </div>
        <div class="col-9 ml-auto">
          <h1>Your meetings</h1>

          <div class="container">
            <!-- <%=JSON.stringify(profile)%> -->
            <% profile.meetingUsers.forEach((meetingUser) => { %>
            <%- include('../static/partials/meeting.ejs', {meeting:meetingUser.Meeting}) %>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </main>
  <% include ../static/partials/baseScripts.ejs %>
</body>