 <!-- #1 -->
 <% if(discussion) { %>
  <div style="width: 50%">
    <hr>
    <p>
      <%= discussion.body %>
    </p>
    <small class="card-subtitle mb-2 text-muted">
 <!-- #2 -->
      sent by <%= discussion.User.email %> on <%= discussion.createdAt %>
    </small>

 <!-- #3 -->
    <% if(currentUser && currentUser.id === discussion.userId || currentUser.isAdmin()) { %>
      <form style="display:initial"
            action="/meetings/<%= post.meetingId %>/posts/<%= post.id %>/discussions/<%= discussion.id %>/destroy"
            method="post">
        <button type="submit" class="btn btn btn-sm btn-outline-danger">Delete</button>
      </form>
    <% } %>
    <hr>
  </div>
<% } %>
