<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <br />
      <a class="btn btn-info" href="/meetings">Back to Meetings</a>

      <% if(currentUser && currentUser.isAdmin()) { %>
      <a href="/meetings/<%= meeting.id %>/edit" class="btn btn-warning">Edit</a>
      
      <form style="display:initial" action="/meetings/<%= meeting.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <% } %>

      <h1><%= meeting.title %></h1> 

      <h6>Hosted by: </h6>
      <h6>Meeting date: <%= meeting.date %> </h6>
      
      <hr />
      <h4>Details:</h4>
      <p><%= meeting.description %></p>

      <section id="comment-form">

          <!-- #1 -->
             <% if(currentUser) { %>
               <% include ../comments/new.ejs %>
             <% } %>
            </section>
         
          <!-- #2 -->
            <section id="comment-list">
             <% if(meeting.comments) { %>
              <% meeting.comments.forEach((comment) => { %>
               
          <!-- #3 -->
                 <%- include('../comments/show.ejs', {comment}) %>
               <% }) %>
             <% } %>
            </section>
     
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>

</html>