<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <br />
      <a class="btn btn-info" href="/meetings">Back to Meetings</a>

      <% if(currentUser && currentUser.isAdmin()) { %>
      <a href="/meetings/<%= meeting.id %>/edit" class="btn btn-warning">Edit</a>
      
      <form style="display:initial" action="/meetings/<%= meeting.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <% } %>

      <h1><%= meeting.title %></h1> 

      <h6>Hosted by: Admin</h6>
      <h6>Meeting date: <%= meeting.date %> </h6>
      
      <hr />
      <h4>Details:</h4>
      <p><%= meeting.description %></p>

      <%=JSON.stringify(meeting)%>

      <section id="comment-form">
        <% if(currentUser) { %>
          <% include ../comments/new.ejs %>
        <% } %>
      </section>

     
         
       
      <section id="comment-list">
        <% if(meeting.comments) { %>
        <% meeting.comments.forEach((comment) => { %>

            <%- include('../comments/show.ejs', {comment}) %>
          <% }) %>
        <% } %>
      </section>

      <section id="meetingUser-form">
            <% if(currentUser) { %>
              <% include ../meetingUsers/new.ejs %>
            <% } %>
      </section>
      <hr />

     
      <section id="meetingUser-list">
        

          <% if(meeting.meetingUsers) { %>
           <% meeting.meetingUsers.forEach((meetingUser) => { %>
            
              <%- include('../meetingUsers/show.ejs', {meetingUser}) %>
            <% }) %>
          <% } %>
      </section>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>

</html>